<app-navbar></app-navbar>
<div class="bg-white">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                <h3 class="login-heading mb-4">Đăng ký thành viên nhận ngay ưu đãi!</h3>
                  <div id="merchant-register">
                    <div class="form-label-group">
                      <input type="text" id="merchant-name" name="name" class="form-control"
                             placeholder="Tên cửa hàng">
                      <label for="merchant-name">Tên Cửa hàng</label>
                    </div>
                    <div class="form-label-group">
                      <input  type="text" id="address" name="address" class="form-control"
                             placeholder="Địa chỉ">
                      <label for="address">Địa chỉ</label>
                    </div>
                    <div  class="form-label-group">
                      <input  type="number" id="hotline" name="hotline" class="form-control"
                             placeholder="Hotline">
                      <label for="hotline">Hotline</label>
                    </div>
                    <div  class="row">
                      <div class="col-6">
                        <div class="form-label-group">
                          <input type="number" id="start-hour" min="0" name="open" class="form-control"
                                 placeholder="Giờ mở cửa" max="24">
                          <label for="start-hour">Giờ mở cửa</label>
                        </div>
                      </div>
                      <div  class="col-6">
                        <div class="form-label-group">
                          <input type="number" id="end-hour" max="24" min="0" name="close" class="form-control"
                                 placeholder="Giờ đóng cửa">
                          <label for="end-hour">Giờ đóng cửa</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-label-group">
                      <textarea class="form-control" name="description" type="text"
                                placeholder="Mô tả chi tiết món ăn (ít nhất 50 ký tự)"
                                id="description"
                                cols="30" rows="10">
                      </textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">
                      Đăng ký
                    </button>
                    <div class="text-center pt-3">
                      Bạn đã có tài khoản? <a class="font-weight-bold" routerLink="/login">Đăng nhập ngay</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
