<app-navbar></app-navbar>
<section class="restaurant-detailed-banner">
  <div class="text-center">
    <img class="img-fluid cover" src="http://localhost:8080/{{merchant?.merchantProfile?.cover}}">
  </div>
  <div class="restaurant-detailed-header">
    <div class="container">
      <div class="row d-flex align-items-end">
        <div class="col-md-8">
          <div class="restaurant-detailed-header-left">
            <img style="width: 115px; height: 115px" class="img-fluid mr-3 float-left" alt="osahan"
                 src="http://localhost:8080/{{merchant?.merchantProfile?.avatar}}">
            <h2 class="text-white">{{merchant?.merchantProfile?.name}}</h2>
            <p class="text-white mb-1"><i class="icofont-location-pin"></i>{{merchant?.merchantProfile?.address}}
            </p>
            <p class="text-white mb-0"><i class="icofont-phone-circle"></i>
              Hotline: {{merchant?.merchantProfile?.hotline}}</p>
            <p class="text-white mb-0 mt-1" style="margin-left: 105px"><i class="icofont-clock-time"></i> Open
              Hours: {{merchant?.merchantProfile?.openHours}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="restaurant-detailed-header-right text-right">
<!--            <button class="btn btn-success" type="button"><i class="icofont-clock-time"></i> Giao hàng:-->
<!--              25–35 min-->
<!--            </button>-->
<!--            <h6 class="text-white mb-0 restaurant-detailed-ratings"><span-->
<!--              class="generator-bg rounded text-white"><i class="icofont-star"></i> 3.1</span> 23-->
<!--              Ratings <i class="ml-3 icofont-speech-comments"></i> 91 reviews</h6>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="offer-dedicated-nav bg-white border-top-0 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <ul class="nav" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-order-online-tab" data-toggle="pill"
               href="#pills-order-online" role="tab" aria-controls="pills-order-online"
               aria-selected="true">Đặt món</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-restaurant-info-tab" data-toggle="pill"
               href="#pills-restaurant-info" role="tab" aria-controls="pills-restaurant-info"
               aria-selected="false">Thông tin nhà hàng</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="offer-dedicated-body pt-2 pb-2 mt-4 mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card-warning sticky-top" style="border:solid 2px #ffc107">
          <div class="card-header">
            <h5 style="color: white">Mã giảm giá</h5>
          </div>
          <div class="card-body">
            <ul class="list-group" *ngFor="let coupon of coupons">
              <li class="list-group-item mt-1" style="border:solid 1px #ffc107">
                <ng-container *ngIf="coupon?.type?.name === 'SHIPPER'">
                  <i class="fas fa-shipping-fast"></i>
                </ng-container>
                <ng-container *ngIf="coupon?.type?.name === 'DISH'">
                  <i class="fas fa-utensils" style="margin-right: 5px"></i>
                </ng-container>
                Nhập "{{coupon?.inputCode}}" giảm {{coupon?.discount}} cho
                <ng-container *ngIf="coupon?.type?.name === 'DISH'">món ăn</ng-container>
                <ng-container *ngIf="coupon?.type?.name === 'SHIPPER'">tiền vận chuyển</ng-container>
              <p class="card-text">{{coupon?.description}}</p>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="offer-dedicated-body-left">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-order-online" role="tabpanel"
                 aria-labelledby="pills-order-online-tab">

              <div class="row">
                <h5 class="mb-4 mt-3 col-md-12">Có <small class="h6 text-black-50">{{dishes.length}}
                  món ăn</small></h5>
                <div class="col-md-12">
                  <div class="bg-white rounded border shadow-sm mb-4">
                    <div class="menu-list p-3 border-bottom" *ngFor="let d of dishes; index as i">
                                                <span class=" float-right">
                                                  <ng-container *ngIf="d.status == true">
<!--                                                    <button (click)="addDishToCart(d.id, '-')"-->
                                                    <!--                                                            class="btn btn-outline-secondary btn-sm left dec"> <i-->
                                                    <!--                                                      class="icofont-minus"></i> </button>-->
                                                    <!--                                                    <input class="count-number-input" type="text" value="1" readonly="">-->
                                                    <button (click)="addDishToCart(d.id, '+')"
                                                            class="btn btn-primary">
<!--                                                      <i class="fas fa-cart-plus"></i>-->
                                                      <i class="fas fa-plus-square"></i>
                                                    </button>
                                                  </ng-container>
                                                    <ng-container *ngIf="d.status == false">
                                                        Hết hàng
                                                    </ng-container>
                                                </span>
                      <div class="media">
                        <img class="mr-3 rounded-pill" src="http://localhost:8080/{{d.image}}"
                             alt="image">
                        <div class="media-body">
                          <ng-container *ngIf="d?.status == true">
                            <h6 class=" float-right me-3 mt-2">{{d?.price}} VNĐ</h6>
                          </ng-container>
                          <h6 class="mb-1">{{d.name}}</h6>
                          <!--                          <p class="text-gray mb-0">150.000 (1kg)</p>-->
                          <p class="mb-0">Mô tả: {{d.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="pills-gallery" role="tabpanel"
                 aria-labelledby="pills-gallery-tab">
              <div id="gallery" class="bg-white rounded shadow-sm p-4 mb-4">
                <div class="restaurant-slider-main position-relative homepage-great-deals-carousel">
                  <div class="owl-carousel owl-theme homepage-ad">
                    <div class="item">
                      <img class="img-fluid" src="assets/static/img/gallery/1.png">
                    </div>
                    <div class="item">
                      <img class="img-fluid" src="assets/static/img/gallery/2.png">
                    </div>
                    <div class="item">
                      <img class="img-fluid" src="assets/static/img/gallery/3.png">
                    </div>
                    <div class="item">
                      <img class="img-fluid" src="assets/static/img/gallery/1.png">
                    </div>
                    <div class="item">
                      <img class="img-fluid" src="assets/static/img/gallery/2.png">
                    </div>
                    <div class="item">
                      <img class="img-fluid" src="assets/static/img/gallery/3.png">
                    </div>
                  </div>
                  <div class="position-absolute restaurant-slider-pics bg-dark text-white">2 of 14
                    Photos
                  </div>
                  <div class="position-absolute restaurant-slider-view-all">
                    <button type="button"
                            class="btn btn-light bg-white">See all Photos
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-restaurant-info" role="tabpanel"
                 aria-labelledby="pills-restaurant-info-tab">
              <div id="restaurant-info" class="bg-white rounded shadow-sm p-4 mb-4">
                <div class="address-map float-right ml-5">
                  <div class="mapouter">
                    <div class="gmap_canvas">
                      <iframe width="300" height="170" id="gmap_canvas"
                              src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=9&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                              frameborder="0" scrolling="no" marginheight="0"
                              marginwidth="0"></iframe>
                    </div>
                  </div>
                </div>
                <h5 class="mb-4">Thông tin cửa hàng</h5>
                <h5 class="mb-3">{{merchant?.merchantProfile?.name}}
                  <br> {{merchant?.merchantProfile?.address}}
                </h5>
                <p class="mb-2 text-black"><i class="icofont-phone-circle text-primary mr-2"></i>
                  {{merchant?.merchantProfile?.hotline}}</p>
                <p class="mb-2 text-black"><i class="icofont-email text-primary mr-2"></i> ,
                  <a href="https://thaotrinh.info/cdn-cgi/l/email-protection" class="__cf_email__"
                     data-cfemail="a6c9d5c7cec7c8c3c7d2e6c1cbc7cfca88c5c9cb">{{merchant?.email}}</a>
                </p>
                <p class="mb-2 text-black"><i class="icofont-clock-time text-primary mr-2"></i>
                  Giờ mở cửa: {{merchant?.merchantProfile?.openHours}}
                  <!--                  <span class="badge badge-success"> OPEN NOW </span>-->
                </p>
                <hr class="clearfix">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="generator-bg rounded shadow-sm mb-4 p-4 osahan-cart-item sticky-top">
          <h5 class="mb-1 text-white">Đặt hàng ngay</h5>
          <p class="mb-4 text-white">{{this.cartDetails.length}} sản phẩm</p>
          <div *ngFor="let c of cartDetails" class="bg-white rounded shadow-sm mb-2">
            <div class="gold-members p-2 border-bottom">
              <p class="text-gray mb-0 float-right ml-2">{{c.price}}</p>
              <span class="count-number float-right">
                <ng-container *ngIf="c.dish.status == true">
                  <button (click)="addDishToCart(c.dish.id, '-')"
                          class="btn btn-outline-secondary  btn-sm left dec"> <i
                    class="icofont-minus"></i> </button>
                                    <input class="count-number-input" type="text" [value]="c.quantity" readonly="">
                                    <button (click)="addDishToCart(c.dish.id, '+')"
                                            class="btn btn-outline-secondary btn-sm right inc"> <i
                                      class="icofont-plus"></i> </button>
                </ng-container>
                <ng-container *ngIf="c.dish.status == false">
                      Hết hàng
                </ng-container>

                                </span>
              <div class="media">
                <div class="mr-2"><i class="icofont-ui-press text-danger food-item"></i></div>
                <div class="media-body">
                  <p class="mt-1 mb-0 text-black">{{c.dish.name}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-2 bg-white rounded p-2 clearfix">
            <img class="img-fluid float-left" src="assets/static/img/wallet-icon.png">
            <h6 class="font-weight-bold text-right mb-2">Tổng đơn: <span
              class="text-danger">{{estimatePayment}}</span> vnđ</h6>
            <h6 class="font-weight-bold text-right mb-2">Giảm giá: <span
              class="text-danger">0</span> vnđ</h6>
            <h6 class="font-weight-bold text-right mb-2">Thanh toán: <span
              class="text-danger">{{estimatePayment}}</span> vnđ</h6>
            <!-- <p class="seven-color mb-1 text-right">Extra charges may apply</p> -->
            <p class="text-black mb-0 text-right">Tiết kiệm 30.000 vnđ</p>
          </div>
          <button (click)="goToCheckout()"  class="btn btn-success btn-block btn-lg">
            Thanh toán
            <i class="icofont-long-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
