<app-navbar></app-navbar>
<div class="bg-white">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                <h3 class="login-heading mb-4">Đăng nhập</h3>
                <form #formLogin="ngForm" (ngSubmit)="formLogin.valid && login(formLogin)">
                  <div class="form-label-group">
                    <input
                      #username="ngModel"
                      [ngClass]="[(username.valid) ? 'form-control is-valid' :((username.dirty || username.touched || formLogin.submitted)? 'form-control is-invalid':'form-control')]"
                      type="text" name="username" ngModel id="username"
                      required
                      placeholder="Username">
                    <label for="username">Username</label>
                    <ng-container
                      *ngIf="username.invalid && (formLogin.submitted)">
                      <p *ngIf="username.errors?.required" class="invalid-feedback">
                        Trường này không được để trống
                      </p>
                    </ng-container>
                  </div>
                  <div class="form-label-group">
                    <input type="password" name="password" ngModel id="inputPassword" class="form-control"
                           placeholder="Password">
                    <label for="inputPassword">Password</label>
                  </div>
                  <div>
                    <p style="color: red" id="errorsLogin"></p>
                  </div>
                  <button type="submit"
                          class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">
                    Đăng nhập
                  </button>
                  <div class="text-center pt-3">
                    Bạn chưa có tài khoản? <a class="font-weight-bold" routerLink="/register">Đăng ký ngay</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
