<app-navbar></app-navbar>
<div class="bg-white">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                  <h3 class="login-heading mb-4">Đăng ký thành viên nhận ngay ưu đãi!</h3>
                  <form #createUserForm="ngForm" (ngSubmit)="createUserForm.invalid && submitUser(createUserForm)">
                    <p *ngIf="createUserForm.invalid">Thông tin không hợp lệ, vui lòng nhập lại</p>
                    <div class="form-label-group">
                      <input type="text" id="inputUsername" required class="form-control" ngModel #username="ngModel"
                             name="username"
                             placeholder="Tên đăng nhập">
                      <label for="inputUsername">Tên đăng nhập</label>
                      <ng-container *ngIf="username.invalid && username.dirty">
                        <p *ngIf="username.errors?.required">Tên bắt buộc phải nhập</p>
                      </ng-container>
                    </div>
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" required class="form-control" ngModel
                             #password="ngModel" name="password"
                             placeholder="Mật khẩu">
                      <label for="inputPassword">Mật khẩu</label>
                      <ng-container *ngIf="password.invalid && password.dirty">
                        <p *ngIf="password.errors?.required">Mật khẩu bắt buộc phải nhập</p>
                      </ng-container>
                    </div>
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" required class="form-control" ngModel name="email" #email="ngModel"
                             placeholder="Email">
                      <label for="inputEmail">Email đăng ký</label>
                      <ng-container *ngIf="email.invalid && email.dirty">
                        <p *ngIf="email.errors?.required">Mật khẩu bắt buộc phải nhập</p>
                      </ng-container>
                    </div>
                    <!--                  <div class="form-label-group mb-4">-->
                    <!--                    <input type="text" id="fullName" class="form-control" placeholder="Họ tên đầy đủ">-->
                    <!--                    <label for="fullName">Họ tên đầy đủ</label>-->
                    <!--                  </div>-->
                    <!--                  <div class="form-label-group mb-4">-->
                    <!--                    <input type="text" id="phoneNumber" class="form-control" placeholder="Số điện thoại">-->
                    <!--                    <label for="phoneNumber">Số điện thoại liên lạc</label>-->
                    <!--                  </div>-->
                    <!--                  <div class="form-label-group mb-4">-->
                    <!--                    <h6>Giới tính</h6>-->
                    <!--                    <select type="text" id="gender" class="form-control">-->
                    <!--                      <option>Nam</option>-->
                    <!--                      <option>Nữ</option>-->
                    <!--                      <option>Khác...</option>-->
                    <!--                    </select>-->
                    <!--                  </div>-->
                    <button>Đăng ký</button>
                    <div class="text-center pt-3">
                      Bạn đã có tài khoản? <a class="font-weight-bold" routerLink="/login">Đăng nhập ngay</a>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
