<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <img src="assets/static/img/img-admin/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">{{currentUser.username}}</span>
  </a>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">QUẢN LÝ NGƯỜI DÙNG</li>
        <li class="nav-item">
          <a href="/admin" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Danh sách người dùng
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/pending" class="nav-link">
            <i class="nav-icon far fa-user"></i>
            <p>
              Người dùng
            </p>
          </a>
        </li>
        <li class="nav-header">QUẢN LÝ CỬA HÀNG</li>
        <li class="nav-item">
          <a routerLink="/admin/merchant" class="nav-link">
            <i class="nav-icon fas fa-store"></i>
            <p>Danh sách toàn bộ cửa hàng</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/merchant/pending" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Các cửa hàng chờ xét duyệt</p>
          </a>
        </li>
        <li class="nav-header">QUẢN LÝ SHIPPER</li>
        <li class="nav-item">
          <a routerLink="/admin/shipper/pending" class="nav-link">
            <i class="nav-icon fas fa-truck"></i>
            <p>Shipper chờ xét duyệt</p>
          </a>
        </li>
      </ul>
    </nav>
</aside>
