<app-navbar></app-navbar>
ng<section class="section pt-5 pb-5 bg-white homepage-add-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="products-box">
          <a href="listing.html"><img alt="" src="assets/static/img/pro1.jpg" class="img-fluid rounded"></a>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="products-box">
          <a href="listing.html"><img alt="" src="assets/static/img/pro2.jpg" class="img-fluid rounded"></a>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="products-box">
          <a href="listing.html"><img alt="" src="assets/static/img/pro3.jpg" class="img-fluid rounded"></a>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="products-box">
          <a href="listing.html"><img alt="" src="assets/static/img/pro4.jpg" class="img-fluid rounded"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 products-section">
  <div class="container">
    <div class="section-header text-center">
      <h2>Đề xuất cho bạn</h2>
      <p>Những món ngon nhất, nhiều ưu đãi đang được mọi người quan tâm</p>
      <span class="line"></span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel owl-carousel-four owl-theme">
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span class="badge badge-dark">KM</span>
                </div>
                <a href="detail.html">
                  <img src="assets/static/img/list/1.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Ba rọi heo Rút Xương
                    Loại 1kg</a></h6>
                  <p class="text-gray mb-3">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 20–25 min</span> <span
                    class="float-right text-black-50"> 250.00O</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-success">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span class="badge badge-dark">KM</span>
                </div>
                <a href="detail.html">
                  <img src="assets/static/img/list/3.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Cua gạch Cà Mau</a>
                  </h6>
                  <p class="text-gray mb-3"> P. 2, Quận 3, TP. HCM</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 15–25 min</span> <span
                    class="float-right text-black-50"> 300.000</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-danger">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span
                  class="badge badge-danger">KM</span></div>
                <a href="detail.html">
                  <img src="assets/static/img/list/6.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Bao tử heo G Kitchen -
                    500gr
                  </a>
                  </h6>
                  <p class="text-gray mb-3">P. 2, Quận 3, TP. HCM</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 15–25 min</span> <span
                    class="float-right text-black-50"> 250.000</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-danger">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span
                  class="badge badge-dark">Promoted</span></div>
                <a href="detail.html">
                  <img src="assets/static/img/list/8.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Cua thịt Y5
                    (0,5-0,65kg/1con)
                  </a>
                  </h6>
                  <p class="text-gray mb-3">496 Nguyễn Thị Minh Khai, P. 2</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 15–25 min</span> <span
                    class="float-right text-black-50"> 187.000</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-danger">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span
                  class="badge badge-dark">Promoted</span></div>
                <a href="detail.html">
                  <img src="assets/static/img/list/9.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Sò lông cồ (20-25
                    con/kg)
                  </a>
                  </h6>
                  <p class="text-gray mb-3">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 15–25 min</span> <span
                    class="float-right text-black-50"> 320.000</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-danger">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 bg-white becomemember-section border-bottom">
  <div class="container">
    <div class="section-header text-center white-text">
      <h2>Giảm giá nhiều nhất</h2>
      <span class="line"></span>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="assets/static/img/list/7.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Sò lông cồ (20-25 con/kg)</a></h6>
              <p class="text-gray mb-2">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 250.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>65% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="assets/static/img/list/8.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Cua gạch Cà Mau</a></h6>
              <p class="text-gray mb-2">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 250.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>14% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="assets/static/img/list/9.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Bao tử heo G Kitchen - 500gr </a></h6>
              <p class="text-gray mb-2">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>54% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="assets/static/img/list/1.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>54% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="assets/static/img/list/3.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>6% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="assets/static/img/list/4.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>6% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="assets/static/img/list/5.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>6% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="assets/static/img/list/6.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>6% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<section class="section pt-5 pb-5 text-center bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="m-0">Bạn có cửa hàng? <a href="login.html">Gia nhập với chúng tôi cùng cung cấp sản phẩm tốt nhất cho khách hàng</a></h5>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
