<div class="card">
  <div class="card-header">
    <div class="topnav">
      <a>Danh sách cửa hàng</a>
      <input #searchValue type="text" placeholder="Tìm kiếm ..." (input)="search(searchValue.value)">
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên cửa hàng</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Trạng thái</th>
        <th scope="col" colspan="2">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let merchant of merchants; index as i" >
        <td>{{i + 1}}</td>
        <td>{{merchant?.merchantProfile?.name}}</td>
        <td>{{merchant?.merchantProfile?.address}}</td>
        <td>{{merchant?.userStatus?.name}}</td>
        <td>
          <button class="btn btn-success" (mousedown)="getId(merchant.id)" data-toggle="modal"
                  data-target="#infoModal">Chi tiết cửa hàng
          </button>
        </td>
        <td>
          <button class="btn btn-success" routerLink="{{merchant.id}}/dish">Chi tiết món ăn</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết của hàng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <!--          <img src="{{pickedMerchant.userprofile.avatar}}" alt="">-->
              <div class="form-group">
                <label for="ownerName">Tài khoản</label>
                <p class="form-control" id="ownerName">{{pickedMerchant?.username}}</p>
              </div>
              <div class="form-group">
                <label for="ownerEmail">Email</label>
                <p class="form-control" id="ownerEmail">{{pickedMerchant?.email}}</p>
              </div>
              <div class="form-group">
                <label for="merchantName">Tên Cửa Hàng</label>
                <p class="form-control" id="merchantName">{{pickedMerchant?.merchantProfile?.name}}</p>
              </div>
              <div class="form-group">
                <label for="merchantAddress">Địa chỉ cửa hàng</label>
                <p class="form-control" id="merchantAddress">{{pickedMerchant?.merchantProfile?.address}}</p>
              </div>
              <div class="form-group">
                <label for="merchantHotline">Số điện thoại cửa hàng</label>
                <p class="form-control" id="merchantHotline">{{pickedMerchant?.merchantProfile?.hotline}}</p>
              </div>
              <div>
                <label for="status">Thay đổi trạng thái cửa hàng</label><br>
                <select class="form-select" id="status" #element>
                  <option *ngFor="let status of statusList"
                          [selected]="status.name === pickedMerchant?.userStatus?.name" value="{{status.name}}">{{status.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" (click)="updateStatus(element.value, pickedMerchant.id)"
                    data-dismiss="modal">Lưu thay đổi
            </button>
            <button class="btn btn-primary" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
