<div class="osahan-account-page-right rounded shadow-sm bg-white p-4 h-100">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="orders" role="tabpanel"
         aria-labelledby="orders-tab">
      <h4 class="font-weight-bold mt-0 mb-4">Đơn hàng đang chờ giao</h4>
      <ng-container *ngFor="let o of socketService.orders; index as i">
        <div class="bg-white card mb-4 order-list shadow-sm">
          <div class="gold-members p-4">
            <div class="media">
              <img class="mr-4" src="http://localhost:8080/{{o?.merchant.merchantProfile.thumbnail}}"
                   alt="Generic placeholder image">
              <div class="media-body">
                <span class="float-right text-black">
                  Đơn hàng đang xử lý <i style="color: sandybrown" class="icofont-clock-time"></i>
                </span>
                <h6 class="mb-2">
                  <a routerLink="/user/merchant/{{o?.merchant.id}}" class="text-black">
                    {{o?.merchant.merchantProfile.name}}
                  </a>
                </h6>
                <p class="text-gray mb-1"><i class="icofont-location-arrow"></i>
                  {{o?.address.address}}
                </p>
                <p class="text-gray mb-3"><i class="icofont-list"></i> ORDER
                  #{{o?.id}} <i class="icofont-clock-time ml-2"></i> {{o?.orderTime}}</p>
                <hr>
                <div class="float-right">
                  <a class="btn btn-sm btn-outline-primary" (click)="getOrderDetail(i)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                    class="icofont-headphone-alt"></i> Chi tiết</a>
                  <!--                    <a class="btn btn-sm btn-primary" href="detail.html"><i-->
                  <!--                      class="icofont-refresh"></i> REORDER</a>-->
                </div>
                <p class="mb-0 text-black text-primary pt-2"><span
                  class="text-black font-weight-bold"> Tổng:</span> VND {{o?.totalPayment}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Chi tiết đơn hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Món ăn</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng</th>
          </tr>

          </thead>
          <tbody>
          <tr *ngFor="let od of orderDetail; index as i">
            <td>{{i+1}}</td>
            <td>{{od?.dish.name}}</td>
            <td>{{od?.price}}</td>
            <td>{{od?.quantity}}</td>
            <td>{{od?.total}}</td>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td colspan="4">Giảm giá</td>
            <td> 0 </td>
          </tr>
          <tr>
            <td colspan="4">Thanh toán</td>
            <td> {{totalPayment}} </td>
          </tr>
          </tbody>
          <tr>
            <td colspan="2">Địa chỉ giao hàng:</td>
            <td colspan="3">{{pickedOrder?.address.address}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deliveryConfirm()">Nhận đơn hàng</button>
      </div>
    </div>
  </div>
</div>

