<app-navbar></app-navbar>
<section class="section bg-white osahan-track-order-page position-relative mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid">
          <agm-map style="width: 850px; height: 640px"   [zoom]="10">
            <!-- ... -->
            <agm-direction
              [origin]="userLocation"
              [destination]="merchantLocation"
            ></agm-direction>
          </agm-map>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-white p-4 shadow-lg mb-2">
          <div class="mb-2"><small>Đơn hàng #{{order.id}}<a class="float-right font-weight-bold" href="#"><i
            class="icofont-headphone-alt"></i> Trợ giúp</a></small></div>
          <h6 class="mb-1 mt-1"><a routerLink="/user/merchant/{{order.merchant.id}}" class="text-black">{{order.merchant.merchantProfile.name}} ({{distance}} km)
          </a>
          </h6>
          <p class="text-gray mb-0"><i class="icofont-clock-time"></i> {{order.orderTime}} | {{order.totalPayment | number}}</p>
        </div>
        <div class="bg-white p-4 shadow-lg">
          <div class="osahan-track-order-detail po">
            <h5 class="mt-0 mb-3">Chi tiết đơn hàng</h5>
            <div class="row">
              <div class="col-md-5">
                <small>Cửa hàng</small>
                <h6 class="mb-1 mt-1"><a routerLink="/user/merchant/{{order.merchant.id}}" class="text-black"><i
                  class="icofont-food-cart"></i> {{order.merchant.merchantProfile.name}}
                </a>
                </h6>
                <p class="text-gray mb-5">{{order.merchant.merchantProfile.address}}</p>
                <small>Giao tới</small>
                <h6 class="mb-1 mt-1"><span class="text-black"><i class="icofont-map-pins"></i>
                  {{order.address.customerName}}
                                        </span>
                </h6>
                <p class="text-gray mb-0">{{order.address.address}}
                </p>
              </div>
              <div class="col-md-7">
                <div class="mb-2"><small><i class="icofont-list"></i> {{order.ordersDetails.length}} sản phẩm</small></div>
                <p *ngFor="let od of order.ordersDetails" class="mb-2"><i
                  class="icofont-ui-press text-danger food-item"></i> {{od.dish.name}} x {{od.quantity}} <span
                  class="float-right text-secondary">{{(od.quantity * od.price) | number}}</span></p>


                <hr>
                <p class="mb-0 font-weight-bold text-black">Phí vận chuyển <span
                  class="float-right text-secondary">15,000</span></p>
                <p class="mb-0 font-weight-bold text-black">Tổng thanh toán <span
                  class="float-right text-secondary">{{order?.totalPayment | number}}</span></p>
                <!-- <p class="mb-0 text-info"><small>Paid via Credit/Debit card
                        <span class="float-right text-danger">$620 OFF</span></small>
                </p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white p-4 shadow-lg mt-2">
          <ng-container *ngIf="order.shipper == null || order.shipper == undefined">
            <div class="row text-center">
              <div class="col" >
                <i class="icofont-warning icofont-3x text-info"></i>
                <p class="mt-1 font-weight-bold text-dark mb-0">Đang tìm tài xế</p>
                <small class="text-info mb-0"></small>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="order.shipper">
            <div class="row text-center">
              <div class="col" >
                <i class="icofont-tasks icofont-3x text-info"></i>
                <p class="mt-1 font-weight-bold text-dark mb-0">Đã tiếp nhận đơn hàng</p>
                <small class="text-info mb-0">{{order.orderStatus.name === 'CREATED' ? 'Hiện tại' : ''}}</small>
              </div>
              <div class="col">
                <i class="icofont-check-circled icofont-3x text-success"></i>
                <p class="mt-1 font-weight-bold text-dark mb-0">Đang lấy hàng</p>
                <small class="text-success mb-0">{{order.orderStatus.name === 'SHIPPING' ? 'Hiện tại' : ''}}</small>
              </div>
              <div class="col">
                <i class="icofont-delivery-time icofont-3x text-primary"></i>
                <p class="mt-1 font-weight-bold text-dark mb-0">Đang giao hàng</p>
                <small class="text-primary mb-0">{{order.orderStatus.name === 'DONE' ? 'Hoàn thành' : ''}}</small>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="order.shipper" class="col-md-3">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <div class="bg-white p-4 shadow-lg" id="chatbox">
          <div class="row clearfix">
            <div class="col-lg-12">
              <div class="card chat-app">
                </div>
                <div class="chat">
                  <div class="chat-header clearfix">
                      {{order.shipper ? 'Nhắn với tài xế' : 'Đang tìm tài xế cho đơn của bạn'}}
                  </div>
                  <div class="chat-history" >
                    <ul class="m-b-0">
                      <div class="container overflow-auto" id="messages" style="max-height: 372px; height: 445px">
                        <li *ngFor="let m of socketService.messages" class="clearfix">
                          <div [ngClass]=" (m.sender.id) === socketService.currentUser.id ?  'message-data text-right': 'message-data '">
                            <span class="message-data-time">{{m.time.slice(11,20)}}</span>
                          </div>
                          <div [class]="(m.sender.id === socketService.currentUser.id) ? 'message other-message float-right' : 'message my-message'"> {{m.content}} </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                  <div class="chat-message clearfix" >
                    <div class="input-group mb-0">
                      <div class="input-group-prepend">
                        <span (click)="sendMessage()"  class="input-group-text"><i class="fa fa-send"></i></span>
                      </div>
                      <input (focus)="scrollChatToBottom()" type="text" [(ngModel)]="message" name="message" class="form-control" placeholder="Enter text here...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
<app-footer></app-footer>

