<app-navbar></app-navbar>
<div class="bg-white">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <h3 class="login-heading mb-4 text-center">Đăng ký cửa hàng nhận ngay ưu đãi!</h3>
            <form>
              <div class="row">
                <div class="col-md-6 col-lg-6 mx-auto pl-5 pr-5">
                  <div class="form-label mb-4">
                    <label class="form-label-group" for="license">Ảnh bằng lái xe</label>
                    <input type="file" id="license" class="form-control"
                           name="avatar"
                           (change)="handleDriverLicenseInput($event)">
                  </div>
                  <div class="form-label mb-4">
                    <label class="form-label-group" for="front">Ảnh CCCD/CMND mặt trước</label>
                    <input type="file" id="front" class="form-control"
                           name="cover"
                           (change)="handleIdFrontInput($event)">
                  </div>
                  <div class="form-label mb-4">
                    <label class="form-label-group" for="back">Ảnh CCCD/CMND mặt sau</label>
                    <input type="file" id="back" class="form-control"
                           name="thumbnail"
                           (change)="handleIdBackInput($event)">
                  </div>
                  <div class="form-label mb-4">
                    <label class="form-label-group" for="certificate">Ảnh giấy tờ xe chính chủ</label>
                    <input type="file" id="certificate" class="form-control"
                           name="thumbnail"
                           (change)="handleCertificateInput($event)">
                  </div>
                  <div class="form-label mb-4">
                    <label for="profession">Nghề nghiệp hiện tại</label>
                    <input class="form-control" type="text" id="profession" name="profession" [(ngModel)]="profession">
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                  <button (click)="submit()" type="submit"
                          class="btn btn-lg text-center btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">
                    Đăng Ký
                  </button>
                </div>
              </div>
            </form>
            <div class="text-center pt-3">
              Bạn đã có tài khoản? <a class="font-weight-bold" routerLink="/login">Đăng nhập ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
