<section class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 col-sm-12">
        <h6 class="mb-3">Đăng ký để nhận thông tin mới nhất</h6>
        <form class="newsletter-form mb-1">
          <div class="input-group">
            <input type="text" placeholder="Điền email của bạn vào đây" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Đăng ký
              </button>
            </div>
          </div>
        </form>
        <p><a class="text-info">Đăng ký ngay</a> để nhận tin tức mới nhất về <a
          href="offers.html">Mã giảm giá và khuyến mại</a></p>
      </div>
      <div class="col-md-1 col-sm-6 mobile-none">
      </div>
      <div class="col-md-2 col-4 col-sm-4">
        <h6 class="mb-3">Thông tin công ty</h6>
        <ul>
          <li><a href="#">Về chúng tôi</a></li>
          <li><a href="#">Đội ngũ</a></li>
          <li><a href="#">Ban giám đốc</a></li>
          <li><a href="#">Cơ hội nghề nghiệp</a></li>
          <li><a href="#">Liên lạc</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-4 col-sm-4">
        <h6 class="mb-3">Cho đại lý</h6>
        <ul>
          <li><a href="#">Đăng ký làm đại lý</a></li>
          <li><a href="#">Đăng ký làm đối tác thân thiết</a></li>
          <li><a href="#">Đăng ký quảng cáo sản phẩm</a></li>
          <li><a routerLink="/shipperRegister">Đăng ký làm đối tác vận chuyển</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-4 col-sm-4">
        <h6 class="mb-3">Cho người dùng</h6>
        <ul>
          <li><a routerLink="/register">Đăng ký</a></li>
          <li><a href="#">Xem tất cả quán ăn</a></li>
          <li><a href="#">Xem các quán có mã giảm gá</a></li>
          <li><a href="#">Xem các khuyến mãi</a></li>
          <li><a href="#">Điều khoản sử dụng</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <p class="mt-0 mb-0">© Copyright 2020 Osahan Eat. All Rights Reserved</p>
    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by
      <a class="text-danger" target="_blank"
         href="#">Trưa Nay Ăn Gì Team</a> - <a
        class="text-primary" target="_blank" href="https://thaotrinh.info/">Ask Bootstrap</a>
    </small>
  </div>
</footer>
